 .main .area-left {
   width: 729px;
   /* background-color: red; */
   /* 写一部分就放一个背景色，看问题检查前面是否有问题 */
   padding: 20px 40px 20px;
 }

 .recommend-section .list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px 2px;
 }




 /* 这样抽取 后面很方便*/
 /* 布局代码 */
 .recommend-section .list .item {
   /* 不给高度给宽度，高度由内容撑起来 */
   width: 140px;
   /* margin: 0 auto; */
   margin-bottom: 30px;
 }

 .recommend-section .list .item .top {
   /* background-color: red; */
   /* 如果不设置宽高，宽度是父元素继承，高度由图片的 高度撑起来，但实际上会比图片的高度高一点，这是因为vertical-align导致的 */
   position: relative;
 }



 /* 现在要实现把一个图片盖到img上面 */
 .recommend-section .list .item .top .cover {
   /* 1.写一个和图片一样大小的盒子 */
   /* width: 140px;
      height: 140px; */
   background-image: url(../images/cover-sprite.png);
   background-position: 0 0;
   /* 2.使用绝对定位脱离文档流进行覆盖 */
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   margin: 0;
   /* 如果只设置这个他会脱离文档流，不设置left,right,等四个属性，他不会覆盖*/
 }

 .recommend-section .list .item .top .info {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 27px;
   padding-left: 10px;
   /* 实现小图标往右移 */
   font-size: 12px;
   color: #ccc;
   line-height: 27px;
   /* 注意：行高只能让文本垂直居中，不能让其他元素垂直居中 */

   background-image: url(../images/cover-sprite.png);
   background-position: 0 -537px;
   /* 把精灵图向上移动（注意这个position是移动精灵图 */
 }



 /* 这里的图标是通过放一个元素，然后设置背景来实现的 */
 .recommend-section .list .item .top .info .icon-music {
   /* 暂时用绝对定位微调 */
   position: relative;
   top: 2px;
   /* display: inline-block; */
   /*  width: 14px;
      height: 11px; */
   /* background-image: url(../images/music_sprite_02.png); */
   /* background-position: 0 -24px; */
 }

 .recommend-section .list .item .top .info .icon-play {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 10px;
   margin: auto 0;
   /* 因为要用bgi，所以要设置宽高，所以设置dib */
   /* display: inline-block; */
   /*  width: 16px;
      height: 17px; */
   /* background-image: url(../images/music_sprite_02.png); */
   /* background-position: 0 0; */
 }

 .recommend-section .list .item .bottom {
   display: block;
   /* 注意改完a元素就要改一下盒子类型 */
   font-size: 14px;
   margin-top: 8px;
 }

 .recommend-section .list .item .bottom:hover {
   text-decoration: underline;
 }

 .recommend-section .list .item .bottom .icon-radio {
   position: relative;
   top: 2px;
 }

 .disc-section .content {
   height: 186px;
   margin: 20px 0;
   box-sizing: border-box;
   border: 1px solid #d3d3d3;
 }

 .disc-section .content .inner {
   position: relative;

   height: 100%;
   box-sizing: border-box;
   padding: 0 25px;
   border: 1px solid #fff;
   background-color: #f5f5f5;
 }

 .disc-section .inner .roller {
   display: flex;
   /* 注意flex布局里面的子元素是可以超出父元素的 */
   overflow: hidden;
   height: 100%;
   /* background-color: red; */
 }

 .disc-section .inner .roller .list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
   /* item不是在list的正中间要偏下一点则加一个padding-top */
   width: 100%;
   flex-shrink: 0;
   /* 注意默认shrink是1，也就是会收缩 */
   /* background-color: green; */
   /* 没有设置高度，他会拉伸因为align-items默认为normmal，与strench效果一样 */
 }

 .disc-section .roller .list .item {
   width: 118px;
   height: 150px;
   background: url(../images/main_sprite.png) no-repeat -260px 100px;
 }

 .disc-section .list .item .album {
   position: relative;
 }

 .disc-section .list .item .album .cover {
   position: absolute;
   /* 1.无论元素类型，可以随意设置宽高
    2.宽高默认由内容决定
    3.不受标准流约束（不区分行内级还是块级元素了）
    4.不给父元素汇报自己的高度 */
   right: 0;
   left: 0;
   top: 0;
   bottom: 0;
   background: url(../images/cover-sprite.png) no-repeat 0 -570px;

 }

 .disc-section .list .item .album .play {
   display: none;
   position: absolute;
   right: 10px;
   bottom: 5px;
   width: 22px;
   height: 22px;
   /* 图标设宽高 */
   background: url(../images/music_sprite_02.png) 0 -85px;
 }

 .disc-section .list .item .album:hover .play {
   display: block;
 }

 .disc-section .list .item a {
   display: block;
   margin-top: 5px;
   padding-right: 10px;
   /* 可以让限制的宽度再窄一点，虽然这个元素没有设置宽度，但是父元素有设置宽度，padding也会影响 */
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
 }

 .disc-section .list .item a:hover {
   text-decoration: underline;
 }

 .disc-section .list .item a.title {
   margin-top: 8px;

   color: #000;
 }

 .disc-section .list .item a.anchor {
   color: #666;
 }

 .disc-section .inner .control {
   position: absolute;
   width: 17px;
   height: 17px;
   top: 0;
   bottom: 0;
   margin: auto 0;

   /* background-color: red; */

   background-image: url(../images/main_sprite.png);
 }

 .disc-section .inner .control.left {
   left: 5px;
   background-position: -260px -75px;
 }

 .disc-section .inner .control.right {
   right: 5px;
   background-position: -320px -75px;

 }

 /* rank-section */
 .rank-section .content {
   display: flex;
   height: 472px;
   margin-top: 20px;
   background: url(../images/rank_bg.png) no-repeat;

 }

 .rank-section .content .rank {
   width: 230px;
 }

 .rank-section .content .rank .header {
   display: flex;
   height: 120px;
   box-sizing: border-box;
   padding: 20px 0 0 20px;
   /* background-color: red; */
   /* 背景色也会给padding里面填充 */
 }

 .rank-section .rank .header .album {
   position: relative;
   /* 是否设置宽高根据图片的原始大小与网页中要显示的大小是否一致 */
   width: 80px;
   height: 80px;

 }

 .rank-section .rank .header .album img {
   /* 注意还必须设置图片的宽高，否则盒子的大小不会限制图片的大小 */
   width: 100%;
   height: 100%;
 }

 .rank-section .rank .header .album .cover {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   /* 撑满父元素 */
   background: url(../images/cover-sprite.png) no-repeat -145px -57px;
 }

 .rank-section .rank .header .info {
   padding: 10px 0 0 12px;
 }

 .rank-section .rank .header .info .title {
   color: #333;
 }

 .rank-section .rank .header .info .btn {
   display: inline-block;
   width: 22px;
   height: 22px;
   background: url(../images/main_sprite.png) no-repeat;
 }

 .rank-section .rank .header .info .operation {
   margin-top: 12px;
 }

 .rank-section .rank .header .info .btn.play {
   background-position: -267px -205px;
 }

 .rank-section .rank .header .info .btn.play:hover {
   background-position: -267px -235px;
 }

 .rank-section .rank .header .info .btn.favor {
   background-position: -300px -205px;
   margin-left: 8px;
 }

 .rank-section .rank .header .info .btn.favor:hover {
   background-position: -300px -235px;
 }

 .rank-section .rank .list {
   padding-left: 12px;
 }

 .rank-section .rank .list .item {
   display: flex;
   height: 32px;
   line-height: 32px;
   /* 会继承 */
   padding-right: 5px;

 }

 .rank-section .rank .list .item .song {
   flex: 1;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   /* 如果不包裹就没有之前的问题 */
 }

 .rank-section .rank .list .item .no {
   width: 35px;
   text-align: center;
   color: #666;
   font-size: 16px;
 }

 .rank-section .rank .list .item:nth-child(-n+3) .no {
   color: #c10d0c;
 }

 .rank-section .rank .list .item .song:hover {
   text-decoration: underline;
 }

 .rank-section .rank .list .item .operation {
   display: none;
   /* 不占据空间 */
   /*  */

   align-items: center;
   width: 82px;
 }

 .rank-section .rank .list .item:hover .operation {
   display: flex;
 }

 .rank-section .rank .list .item .operation .btn {
   width: 17px;
   height: 17px;
   margin-right: 8px;
   background: url(../images/main_sprite.png) no-repeat;
 }

 .rank-section .rank .list .item .operation .btn.play {
   background-position: -267px -268px;
 }

 .rank-section .rank .list .item .operation .btn.add {
   background: url(../images/iconall_sprite.png) no-repeat;
   background-position: 2px -698px;
 }

 .rank-section .rank .list .item .operation .btn.favor {
   background-position: -297px -268px;
 }

 .rank-section .rank .list .more {
   height: 32px;
   line-height: 32px;
   text-align: right;
   padding-right: 32px;
 }

 .rank-section .rank .list .more:hover {
   text-decoration: underline;
 }