@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1769500075540') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e657";
}

.icon-gouwuche2:before {
  content: "\e62d";
}

.icon-wode-copy:before {
  content: "\e61d";
}

.icon-shouye6:before {
  content: "\e66f";
}

.icon-shouye:before {
  content: "\e501";
}

